<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="shortcut icon" href="/images/react.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <div id="react-container"></div>

    {{{body}}}


  <script src="/javascripts/dist/main.js"></script>
  </body>
</html>
