body {
    margin: 0;
    overflow: hidden;
}

a {
    color: #00B7FF;
}

.app-container {
    background: url("../images/board.jpg") no-repeat;
    transform-origin: top left;
}

.piece {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.piece.light {
    background: url("../images/light_piece.png");
}

.piece.dark {
    background: url("../images/dark_piece.png");
}

.dice {
    position: absolute;
    top: 0;
    background: url("../images/dice_spritesheet.png");
    cursor: pointer;
}

.sprite-dice1 {
    width: 109px;
    height: 109px;
    background-position: -5px -5px;
}

.sprite-dice2 {
    width: 109px;
    height: 109px;
    background-position: -124px -5px;
}

.sprite-dice3 {
    width: 109px;
    height: 109px;
    background-position: -243px -5px;
}

.sprite-dice4 {
    width: 109px;
    height: 109px;
    background-position: -362px -5px;
}

.sprite-dice5 {
    width: 109px;
    height: 109px;
    background-position: -481px -5px;
}

.sprite-dice6 {
    width: 109px;
    height: 109px;
    background-position: -600px -5px;
}

.luck-generator {
    position: absolute;
    top: 490px;
    left: 1265px;
    width: 230px;
    height: 109px;
}
